<h1>Are You Sure You Want To Delete This Book?</h1>

<%= render @book %>

<br>

<div>
<%= button_to "Destroy this book", @book, method: :delete %>
  <%= link_to "Back to books", books_path %>
</div>
